.products{
    background-color: #dad9d9;
    padding-top: 1rem
}
.products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 24px;
    margin: 1.5rem;
}